{% extends 'layouts/master_layouts.twig' %} 

{% block main_content %}
<div class="container-fluid">
   <!-- Widgets -->
   <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="card">
            <div class="header">
               <h2>
                  DATA KESEHATAN SISWA
                  <!-- <small>Harap Menisi Data Kesehatan <a href="">Dengan Teliti</a></small> -->
               </h2>
            </div>
            <div class="body">
               <div class="container-fluid">
                  <div class="row clearfix">
                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active">
                           <a href="#home" data-toggle="tab">PENGISIAN DATA KESEHATAN SISWA</a>
                        </li>
                        <li role="presentation">
                           <a href="#lll" data-toggle="tab">LAPORAN DATA KESEHATAN SISWA</a>
                        </li>
                     </ul>

                     <!-- Tab panes -->
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                           {% include 'kesehatan/kesehatanv.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="lll">
                           {% include 'kesehatan/datalist.twig' %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- #END# Widgets -->
   <!-- CPU Usage -->
</div>
{% endblock %} 

{% block custom_js %} 

{% include 'layouts/form-validation.twig' %} 

{% include 'layouts/datatable.twig' %} 

{% endblock %}
