<div class="table-responsive">
   <table class="table table-bordered table-striped table-hover dataTable" id="data_berita">
      <thead>
         <tr>
            <th>Tanggal</th>
            <th>DiTujukan</th>
            <th>Judul</th>
            <th>Isi</th>
            <th>Tertanda</th>
            <th>Publish</th>
            <th>Hapus</th>
         </tr>
      </thead>

      <tbody id="show_data">
         <?php $i = 1 ?>
         <?php foreach($data as $m): ?>
         <tr>
            <td><?php echo $m->tanggal ?></a>   </td>
            <td><?php echo $m->ditujukan ?></td>
            <td><?php echo $m->judul ?></td>
            <td><?php echo $m->isi ?></td>
            <td><?php echo $m->pj ?></td>
            <td><?php echo $m->tutup ?></td>
            <td align="center">
               <a href="<?php echo base_url();?>index.php/berita/hapus/<?php echo $m->noberita ?>" class="btn btn-primary waves-effect"> <i class="material-icons">delete_forever</i></a>
            </td>
         </tr>
         <?php endforeach ?>

      </tbody>
   </table>
</div>

<div id="search_date" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" id="sort_berita">
                    <input type="hidden" name="{{ csrf_name }}" value="{{ csrf_hash }}">
                </form>
            </div>
        </div>

    </div>
</div>
